.root {
    -fx-background-color: #ffcda5;
}

.checkbutton {
    -fx-text-fill: black;
    -fx-font-size: 16;
    -fx-font-family: "Arial Black";
    -fx-padding: 10;
    -fx-background-color: white;
}

.button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
}

.button1 {
    -fx-border-radius: 12px;
    -fx-background-color: #ffcc84;
    -fx-border-color: #000000;
    -fx-font-size: 36;
    -fx-font-weight: bold;
}

.button1:pressed {
    -fx-border-radius: 12px;
    -fx-background-color: #e8ba7a;
    -fx-border-color: #000000;
    -fx-font-size: 36;
    -fx-font-weight: bold;
}

.button2 {
    -fx-border-radius: 12px;
    -fx-background-color: #ffcc84;
    -fx-border-color: #000000;
    -fx-font-size: 36;
    -fx-font-weight: bold;
}

.button2:pressed {
    -fx-border-radius: 12px;
    -fx-background-color: #e8ba7a;
    -fx-border-color: #000000;
    -fx-font-size: 36;
    -fx-font-weight: bold;
}

.button3 {
    -fx-border-radius: 8px;
}

.button4 {
    -fx-border-radius: 12px;
}

.button5 {
    -fx-border-radius: 50%;
}